#rules {
    float: left;
    margin: 100px 0px 0 20px;
}

#chessBoard {
    float: left;
    width: 416px;
    display: flex;
    border: black 1px solid;
    flex-wrap: wrap;
    margin: 100px 50px 0px 150px;
}

#chessBoard>div {
    width: 52px;
    height: 52px;
}

#chessBoard>div>img,
#whiteCancel>img,
#blackCancel>img {
    width: 30px;
}

button {
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 5px;

    font-size: 20px;
}

button:hover {
    background-color: black;
    opacity: 0.8;
    color: white;
}

body>div:nth-of-type(3) {
    float: left;
    margin: 100px 0 0px 0px;
}

p {
    margin-top: 20px;
    font-size: 20px;
    border: black solid 2px;
    border-radius: 2px;
}

#whiteCancel {
    display: flex;
    width: 125px;
    flex-wrap: wrap;

    margin: 10px 0;
}

#blackCancel {
    display: flex;
    width: 125px;
    flex-wrap: wrap;
    background-color: black;
}